<script setup lang="ts">
import { POP_SCOPE_ID } from "@vue/compiler-core";
import { reactive, ref, watch, nextTick } from "vue";
const person = reactive<Person>({ id: -1, name: "", surname: "", gender: "" });
const msg = reactive({ name: "", surname: "", gender: "" });
const personList = ref<Person[]>([]);
const showForm = ref(false);

class Person {
  id: number;
  name: string;
  surname: string;
  gender: string;
  static lastId = 1;
  constructor(name: string, surname: string, gender: string) {
    this.id = Person.lastId++;
    this.name = name;
    this.surname = surname;
    this.gender = gender;
  }
}

function checkName(name: string) {
  if (name.trim().length == 0) {
    msg.name = "First name is empty!!!";
    return false;
  } else {
    msg.name = "";
    return true;
  }
}

function checkSurname(surname: string) {
  if (surname.trim().length == 0) {
    msg.surname = "Second name is empty!!!";
    return false;
  } else {
    msg.surname = "";
    return true;
  }
}

function checkGender(gender: string) {
  if (gender.trim().length == 0) {
    msg.gender = "Gender is empty!!!";
    return false;
  } else {
    msg.gender = "";
    return true;
  }
}

function clearForm() {
  person.name = "";
  person.surname = "";
  person.gender = "";
  person.id = -1;
  nextTick(function () {
    msg.name = "";
    msg.surname = "";
    msg.gender = "";
  });
}

function doSubmit() {
  if (
    checkName(person.name) &&
    checkSurname(person.surname) &&
    checkGender(person.gender)
  ) {
    if (person.id < 0) {
      const p = new Person(person.name, person.surname, person.gender);
      personList.value.push(p);
    } else {
      const index = personList.value.findIndex((item) => item.id === person.id);
      personList.value[index].name = person.name;
      personList.value[index].surname = person.surname;
      personList.value[index].gender = person.gender;
    }

    showForm.value = false;
    clearForm();
  }

  watch(
    () => person.name,
    (name) => {
      checkName(name);
    }
  );
  watch(
    () => person.surname,
    (surname) => {
      checkSurname(surname);
    }
  );
  watch(
    () => person.gender,
    (gender) => {
      checkGender(gender);
    }
  );
}

const doEdit = function (p: Person) {
  person.name = p.name;
  person.surname = p.surname;
  person.gender = p.gender;
  person.id = p.id;
  showForm.value = true;
};

const doDelete = function (p: Person) {
  const index = personList.value.findIndex((item) => item.id === p.id);
  personList.value.splice(index, 1);
};
</script>

<template>
  <div v-if="showForm">
    <form>
      <label for="">First Name</label>
      <input type="text" id="name" v-model="person.name" autocomplete="off" />
      <span class="warning">{{ msg.name }}</span>
      <br />

      <label for="">Surname</label>
      <input
        type="text"
        id="surname"
        v-model="person.surname"
        autocomplete="off"
      />
      <span class="warning">{{ msg.surname }}</span>
      <br />

      <label for="">Gender</label>
      <select id="gender" v-model="person.gender">
        <option value="" hidden selected>Select Gender</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
      <span class="warning">{{ msg.gender }}</span>
      <br />

      <input type="submit" id="Submit" @click.prevent="doSubmit" />
    </form>
    <br />
  </div>
  <h2>Person</h2>
  <div v-if="!showForm">
    <div style="width: 100%; text-align: right">
      <button style="width: 100px" @click="showForm = !showForm">Add</button>
    </div>

    <table id="persons">
      <thead>
        <th>Id</th>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Gender</th>
        <th style="width: 250px">Operation</th>
      </thead>
      <tr v-for="(item, index) in personList" :key="index">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.surname }}</td>
        <td>{{ item.gender }}</td>
        <td style="text-align;: center">
          <button
            style="width: 100px; background-color: grey"
            @click="doEdit(item)"
          >
            Edit</button
          ><button
            style="width: 100px; margin-left: 1em; background-color: red"
            @click="doDelete(item)"
          >
            Delete
          </button>
        </td>
      </tr>
      <tr>
        <td
          colspan="5"
          style="text-align: center"
          v-if="personList.length === 0"
        >
          No Data
        </td>
      </tr>
    </table>
  </div>
</template>

<style scoped>
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"],
button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.warning {
  margin-left: 10px;
  font-size: smaller;
  color: red;
  display: block;
}

#persons {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#persons td,
#persons th {
  border: 1px solid #ddd;
  padding: 8px;
}

#persons tr:nth-child(even) {
  background-color: #f2f2f2;
}

#persons tr:hover {
  background-color: #ddd;
}

#persons th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04925e;
  color: white;
  border-radius: 4px;
}
</style>
